

@import "../glouble/variable";
@import "mixin";

.schedule{
    margin: auto;
    width: 100%;
    height: 50vh;
    background-image: url(../photoes/backround-bt.jpg);
    background-size: cover;
    @include responsive(tablet){
        height: 25vh;
    }
    
    .type-schedule{
        
        width: 20%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include responsive(tablet){
            width: 40%;
            
        }
        button:hover{
            background: $coloricon;
            color: $Buttoncolor;
        }
        button{

            padding: 15px;
            width: 100%;
            border: none;
            cursor: pointer;
            margin-bottom: -5px;
            background: $Buttoncolor;
            color: $textcolor;
            border-radius: 5px;
            @include responsive(tablet){
                padding: 10px;
                font-size: 10px;
            }

            
            
    
        }
        button:nth-child(1){
            margin-top: 15px;
        }
        
        
    }
}